<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>PDF-Chat-Anwendung - Startseite</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-light">
    {% include 'partials/_header.html' %}
    <div class="container mt-5">
        <div id="landing-page" class="text-center">
            <h1 class="display-4">Welcome to the PDF Chatbot</h1>
            <p class="lead">Please upload a PDF, to begin, or select a Chunk size first</p>
            <input type="file" id="pdf-upload" class="form-control-file mb-4" aria-label="PDF hochladen" accept="application/pdf">
            <div class="d-flex flex-column align-items-center">
                <button id="proceed-button" class="btn btn-primary mb-2 disabled" disabled>To the Chat</button>
                <p>Select Chunk size:</p>
                <div class="form-group w-25">
                    <label for="chunk-size" class="sr-only">Chunk Size</label>
                    <select class="form-control" id="chunk-size">
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>